{{! Usa o layout principal }}
{{! Define o título da página }}
{{#> layout title="Página Inicial" }}

<div class="text-center mt-5">
    <h1>Bem-vindo ao Meu Projeto</h1>
    <a href="/login" class="btn btn-primary">Entrar</a>
</div>

{{/layout}}
